# Archivos de datos originales (muy grandes)
proyecto_cadena_cines/data_original/
proyecto_cadena_cines/datalake/landing/
proyecto_cadena_cines/datalake/raw/

# Archivos de datos generales
*.tsv
*.csv

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv
*.egg-info/
.env

# IDE
.vscode/
.idea/
*.swp
*.swo
